
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f9fc;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
}


.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}


h1, h2 {
    color:#8e44ad;;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.form-container input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 10px;
    width: 250px;
}

.form-container button {
    padding: 10px 20px;
    background-color: #8e44ad;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.form-container button:hover {
    background-color: #8e44ad;
}



th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #8e44ad;
    color: white;
}


.pagination-buttons {
    margin: 20px 0;
}

.pagination-btn {
    padding: 10px 20px;
    background-color: #8e44ad;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.pagination-btn:hover {
    background-color: #8e44ad;
}


.page-input {
    padding: 8px;
    width: 150px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}


.go-to-page-btn {
    padding: 8px 15px;
    background-color: #8e44ad;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.go-to-page-btn:hover {
    background-color: #8e44ad;
}


#user_image:hover {
    transform: scale(1.1);
}


.error {
    color: red;
    font-weight: bold;
}
.logout-btn {
    background: linear-gradient(145deg, #7f35ef, #b820e7);
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    text-transform: uppercase;
    position: absolute; 
    top: 20px; 
    left: 20px; 
    z-index: 10; 
}

.logout-btn:hover {
    background: linear-gradient(145deg, #7f35ef, #b820e7);
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.logout-btn:active {
    transform: translateY(1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

